.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #d8d4d4;
    box-shadow: 1px 2px 2.5px #ebe4e4;
    border-radius: 5px;
    position: relative;
    height: 429px;
    width: 300px;
    margin: 10px 0px;
    background-color: #fdfdfd;
}
  
.card img {
    height: 429px;
    width: 300px;
}
  
.card h2 {
    font-size: 15px;
    padding: 3px;
    margin: 0px;
    position: absolute;
    top: 66%;
    left: 10%;
    background-color:  #79f1c3;
    border-radius: 5px;
    box-shadow: 1px 2px 1px #54b1b8;
    text-shadow: 1px 1px 3px #000000;
}
.card h2:hover {
    background-color: #30eba3;
}
  
  
.card a {
    color: #fbf4fd;
    text-shadow: 1px 1px 1px black;
}
  
.info  {
    display: flex;
    justify-content: center;
    justify-content: space-around; 
}
  
.info h3 {
    margin: 0px 15px;
    padding: 30px 0px;
    color: #363535;
    text-shadow: 1px 2px 2px #858484;
}
  
.card .btnClose{
    position: absolute;
    left: 90%;
    top: 2%;
    padding: 3px 5px;
    border:none;
    color:  #fbf4fd;
    background-color:  #79f1c3;
    text-shadow: 1px 2px 3px #000000;
    border-radius:4px ;
    cursor: pointer;
}

.card .btnClose:hover{
    background-color: #1aee9d;
    font-size: 15px;
} 

.btNone {
    display: none;
}

.likeBtn {
    border: none;
    padding: 5px;
    background-color: #6ca7dd;
    border-radius: 100%;
    position: absolute;
    top: 2%;
    left: 2%;
    cursor: pointer;
}

@media (max-width: 768px){
    .card {
       height: max-content;
       width: max-content;
    }
    .card img {
        height: 287px;
        width: 300px;
    }
}